@import '@/_variables.scss';

.container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  height: 100vh;

  .subTitle {
    margin-bottom: 40px;
    font-size: 32px;
  }

  .form-signup {
    width: 760px;
    height: 690px;
    border-radius: 4px;
    border: 10px solid white;
    padding: 44px;
    text-align: center;

    .signup-info {
      margin-bottom: 30px;
    }
  }

  form {
    .signup-input-group {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 40px;
      width: 740px;
      height: 40px;

      .duplicate-check {
        height: 40px;
        border-radius: 5px;
        width: 50px;
        background-color: $bg-primary-grey;
        border: 0px;
        cursor: pointer;
      }
    }
  }
  .input-text {
    width: 140px;
    padding-top: 12px;
  }

  .input-form {
    width: 480px;

    .input-info {
      width: 420px;
      height: 40px;
      border: 1px solid gray;
      border-radius: 4px;
    }
  }

  .image-form {
    display: flex;
    flex-wrap: wrap;

    .image-input {
      width: 200px;
      height: 150px;
    }

    .image-info {
      margin-bottom: 30px;
      width: 300px;
      line-height: 25px;
      color: $text-sub-grey;
      text-align: left;
    }
  }
  .form-submit {
    flex-wrap: wrap;
    display: flex;

    .continue-group {
      margin: 0 auto;
    }

    .continue-button {
      width: 160px;
      height: 40px;
      border-radius: 20px;
      border: 1px solid gray;
      cursor: pointer;
    }

    .info {
      flex-wrap: nowrap;
      width: 760px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
