@import 'src/_variables.scss';

.container {
  margin: auto;
  width: $mypage-width;
  height: $mypage-height;
  background-color: $bg-sub-grey;
  display: flex;
  margin-bottom: 30px;
  .section {
    position: relative;
    width: 70%;
    height: 90%;
    margin: auto;
    mix-blend-mode: multiply;
    // background-color: green;
    
    .title {
      font-size: 1.4rem;
      letter-spacing: -0.5;
      font-weight: 800;
    }
    .line {
      margin: 20px auto 25px;
    }
    .jjimItem {
      position: absolute;
      height: 88%;
      width: 96%;
      left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      // background-color: greenyellow;
    }
  }
}
