@import '/src/variables';
.container {
  display: flex;
  height: 73px;
  .logo {
    display: flex;
    background-color: $point-red;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease-in-out;
    border: 4px solid $point-red;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 4rem;
      padding: 0 1rem;
      color: $text-light-white;
      font-size: 1.5rem;
      text-decoration: none;
    }
    &:hover {
      background-color: $text-light-white;

      a {
        color: $point-red;
      }
    }
  }
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    a {
      text-decoration: none;
      color: black;
    }
    img {
      width: 18px;
      height: 18px;
      padding-right: 0.4rem;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }
    li {
      cursor: pointer;
    }
    li,
    li * {
      transition: all 0.1s ease-in-out;
    }
    li:hover {
      border-bottom: 4px solid $point-red;
      p {
        color: $point-red;
      }
      img {
        filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
      }
    }
    .focus {
      border-bottom: 4px solid $point-red;
      p {
        color: $point-red;
      }
      img {
        filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
      }
    }
    .productMenu {
      display: flex;
      li {
        line-height: 4.5rem;
        padding: 0 1rem;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        .item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .userMenu {
      display: flex;
      li {
        line-height: 4.5rem;
        padding: 0 1rem;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        .item {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
