@import '/src/variables';
.container {
  display: flex;
  height: 73px;
  .logo {
    display: flex;
    background-color: $point-red;
    font-weight: 700;
    letter-spacing: 0.1rem;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 4.5rem;
      padding: 0 1rem;
      color: $text-light-white;
      text-decoration: none;
    }
  }
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    a {
      text-decoration: none;
      color: black;
    }
    img {
      width: 15px;
      height: 15px;
      padding-right: 0.4rem;
    }
    .productMenu {
      display: flex;
      li {
        line-height: 4.5rem;
        padding: 0 1rem;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        .item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .userMenu {
      display: flex;
      li {
        line-height: 4.5rem;
        padding: 0 1rem;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        .item {
          display: flex;
          align-items: center;
        }
      }
    }
    .search {
      cursor: pointer;
    }
  }
}
