@import '@/_variables.scss';

.container {
  margin: auto;
  width: $mypage-width;
  height: $mypage-height;
  background-color: $bg-sub-grey;
  display: flex;
  .container__section {
    margin: auto;
    margin-left: 0;
    width: 62%;
    height: 95%;
    font-size: 24px;
    background-color: $bg-primary-white;
    position: relative;
    .container__section__inner {
      position: absolute;
      height: 90%;
      width: 80%;
      a {
        margin: 3px;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  .section__line {
    margin: 40px auto;
  }
}
