@import '@/_variables.scss';

.subTitle {
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 32px;
}
.container {
  display: flex;
  align-items: center;
  margin-top: -40px;
  flex-direction: column;
  height: 100vh;
  background-color: $bg-sub-grey;

  .age {
    width: 640px;
    height: 240px;
    display: flex;
    text-align: center;

    .thirteenUnder {
      width: 315px;
      height: 240px;
      background-color: $bg-primary-white;
      margin-right: 10px;
      border-radius: 5px;

      .thirteen {
        width: 315px;
        height: 180px;
        margin-top: 20px;
      }
    }

    .fourteenPlus {
      width: 315px;
      height: 240px;
      background-color: $bg-primary-white;
      border-radius: 5px;

      .fourteen {
        width: 315px;
        height: 180px;
        margin-top: 20px;
      }
    }
  }
}
