@import '@/_variables.scss';

.inner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .bankSelect {
    display: flex;
    flex-direction: column;
    width: 150%;
    background-color: $bg-sub-grey;
    margin-right: 30px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    .banks {
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
      }
      .bankContainer {
        display: flex;
        margin: 0 20px;
        max-width: 100%;
        flex-wrap: wrap;
      }
    }
    .btn {
      width: 200px;
      height: 50px;
      border-radius: 15px;
      border: 1px solid $point-orange;
      background-color: $point-orange;
      color: $text-light-white;
      margin-bottom: 20px;
      box-shadow: 1px 1px 1px $bg-light-grey;
      cursor: pointer;
    }
  }
  .payments {
    width: 100%;
    .payment {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 100px;
      .paymentContainer {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .paymentInfo {
        display: flex;
        border-top: 1px solid $bg-light-grey;
        border-bottom: 1px solid $bg-light-grey;
        padding: 24px 0;
        justify-content: space-between;
        .title {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        .contents {
          text-align: right;
          .content {
            font-size: 14px;
            margin-left: 20px;
            margin-bottom: 15px;
          }
        }
      }
      .totals {
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: flex-end;
        margin-top: 20px;
        margin-bottom: 50px;
        .mark {
          font-weight: 700;
        }
        .price {
          font-size: 26px;
          margin-left: 25px;
        }
      }
    }
    .payMethod {
      .title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .payMethodContainer {
        display: flex;
        flex-direction: column;
        .btn {
          height: 40px;
          margin-bottom: 10px;
          color: $text-light-white;
          border-radius: 4px;
          border: 1px solid $point-red;
          background-color: $point-red;
          cursor: pointer;
        }
      }
    }
  }
}

.accountListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  .title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
  }
  .accountLists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .subs {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
.BankConnectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .btn {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid $point-red;
    background-color: $point-red;
    color: $text-light-white;
    margin-top: 50px;
    box-shadow: 1px 1px 1px $bg-light-grey;
    cursor: pointer;
  }
}
