@import '@/_variables.scss';

.container {
  margin: auto;
  width: $mypage-width;
  height: $mypage-height;
  display: flex;
  margin-bottom: 30px;
  background-color: $bg-sub-grey;
  .section {
    position: relative;
    margin: auto;
    margin-right: 30px;
    width: 70%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: -0.5;
    font-weight: 800;
    border-radius: 10px;
    background-color: $bg-primary-white;
    .content {
      margin: auto;
      margin-top: 30px;
      height: 80%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      font-size: 1.1rem;
      font-weight: 300;
      text-align: left;
      // background-color: yellowgreen;
      .innerTop {
        width: 100%;
        .title {
          font-size: 1.4rem;
          letter-spacing: -0.5;
          font-weight: 800;
        }
        .line {
          margin: 24px auto;
        }
      }
      .innerBottom {
        height: 100%;
        // background-color: green;
        .lists {
          height: 95%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin: 0 auto;
          // background-color: greenyellow;
          .list {
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: space-between;
            // background-color: greenyellow;
            .label {
              font-size: 1.1rem;
              letter-spacing: -0.5;
              font-weight: 800;
              margin-right: 25px;
              margin-top: 20px;
              width: 100px;
            }
            .inputForm {
              flex-grow: 1;
              height: 100%;
              // background-color: blue;
              .inputTag {
                -webkit-appearance: none;
                -moz-appearance: none;
                outline: none;
                appearance: none;
                width: 90%;
                height: 10px;
                padding: 15px 20px;
                border-radius: 5px;
                border: solid 1px $bg-primary-grey;
                font-size: 0.9rem;
                margin-top: 5px;
                &:focus {
                  border: solid 2px $point-red;
                  caret-color: $point-red;
                }
                .passwordCheck {
                  margin-top: 100px;
                }
              }
            }
            .inputTag.passwordCheck {
              margin-bottom: 25px;
            }
            .btnTag {
              padding: 11px 15px;
              margin-top: 5px;
              margin-left: 15px;
              border: none;
              border-radius: 5px;
              cursor: default;
              color: $text-light-white;
              background-color: $point-red-50;
              &:hover {
                background-color: $point-red;
                cursor: pointer;
              }
            }
          }
          .list.uploade {
            .box {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-between;
              .profile {
                height: 110px;
                width: 110px;
                flex-grow: 0;
                margin: 0 20px;
                border-radius: 10px;
                border: 1px solid $bg-primary-grey;
                background-color: $text-sub-light-grey;
              }
              .profileInfo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;
                width: 60%;
                height: 100%;
                font-size: 1rem;
                font-weight: 300;
                .profileSubText {
                  font-size: 0.9rem;
                  line-height: 1.2;
                  color: $text-sub-grey;
                }
                .inputTag.uploadForm::file-selector-button {
                  padding: 11px 20px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  background-color: $point-red-50;
                  color: $text-light-white;
                  &:hover {
                    background-color: $point-red;
                  }
                }
              }
            }
          }
        }
        .submitBtn {
          width: 100%;
          margin-top: 25px;
          padding: 13px 10px;
          color: $text-light-white;
          text-align: center;
          border: none;
          border-radius: 10px;
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: 800;
          background-color: $point-red;
          cursor: pointer;
          &.btnError {
            color: $text-light-white;
            background-color: $point-red-50;
            cursor: default;
          }
        }
      }
    }
  }
  .error {
    position: absolute;
    margin-top: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    color: $point-red;
  }
  .msg {
    position: absolute;
    margin-top: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    color: $text-sub-grey;
  }
}
.ps_error {
  position: absolute;
  margin-top: 235px;
  margin-right: 90px;
  font-size: 0.9rem;
  font-weight: 500;
  color: $point-red;
}
.ps_msg {
  position: absolute;
  margin-top: 235px;
  margin-right: 90px;
  font-size: 0.9rem;
  font-weight: 500;
  color: $text-sub-grey;
}
.psCheck_error {
  position: absolute;
  margin-top: 235px;
  margin-left: 300px;
  font-size: 0.9rem;
  font-weight: 500;
  color: $point-red;
}
.psCheck_msg {
  position: absolute;
  margin-top: 235px;
  margin-left: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  color: $text-sub-grey;
}
