@import '@/_variables.scss';

.subTitle {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 32px;
}
.container {
  display: flex;
  align-items: center;
  margin-top: -40px;
  flex-direction: column;
  height: 100vh;
  background-color: $bg-sub-grey;
  text-align: center;

  .password-group {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    background-color: $bg-primary-white;
    border: 1px solid #dfdfdf;

    .password-form {
      text-align: center;
      margin-top: 80px;
      height: 120px;
      margin: 40px;

      .input-group {
        margin-bottom: 20px;
      }

      .input-text {
        width: 420px;
        height: 50px;
        border-radius: 4px;
        border: 4px solid #dfdfdf;
      }
    }
  }

  .submit-group {
    display: flex;
    width: 420px;
    height: 50px;
    margin: 0 auto;

    .submit-btn {
      background-color: $point-red;
      width: 160px;
      height: 40px;
      border-radius: 20px;
      border: 1px solid gray;
      color: $text-light-white;
      font-weight: 600;
      margin: 0 auto;
      cursor: pointer;

      &:disabled {
        background-color: $bg-primary-grey;
        cursor: not-allowed;
      }
    }
  }
}
