#product .product {
  margin-bottom: 50px;
}
#product .product p {
  margin: 20px 0;
}

#product .product-attributes {
  background-color: #e1e1e1;
  display: flex;
  margin-top: 10px;
}

#product .product-attributes-all {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 66.66666666666%;
  max-width: 66.66666666666%;
  padding: 1.5rem 0 1.5rem 1.5rem;
}

#product .product-attribute-title {
  font-weight: 700;
  margin: 5px 0;
}
#product .product-attribute-val {
  margin-bottom: 10px;
}
#product .product-attribute-description {
  margin-top: 20px;
}
#product .attribute-group-esrb {
  display: flex;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem;
}
#product .product-attribute {
  padding-right: 1rem;
}
#product .attribute-group-esrb .product-attribute-title {
  display: none;
}
