@import '@/_variables.scss';

.aTag {
  color: $text-primary-black;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  line-height: 1.2;
  word-spacing: 3px;
  letter-spacing: -0.5px;
  &:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}

// /* select box 스타일 초기화 */
// select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }
.container {
  margin: auto;
  width: $mypage-width;
  height: $mypage-height;
  background-color: $bg-sub-grey;
  display: flex;
  margin-bottom: 30px;
  .container__section {
    position: relative;
    margin: auto;
    margin-right: 30px;
    width: 62%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: -0.5;
    font-weight: 800;
    background-color: $bg-primary-white;
    .container__section__inner {
      position: absolute;
      height: 90%;
      width: 80%;
      .section__lists {
        height: 25%;
        display: flex;
        justify-content: space-between;
        .section__list_title {
          position: relative;
          width: 140px;
          margin: 40px 0px 20px 0px;
          .section__list_text {
            position: absolute;
            left: -5px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .section__list_link {
              font-size: 1.2rem;
            }
          }
        }
      }
      .section__line {
        margin: 50px auto;
      }
    }
  }
}
