@import 'src/_variables.scss';

.container {
  margin: auto;
  width: $mypage-width;
  height: $mypage-height;
  background-color: $bg-sub-grey;
  display: flex;
  margin-bottom: 30px;
  .section {
    position: relative;
    width: 65%;
    height: 80%;
    margin: auto;
    mix-blend-mode: multiply;
    // background-color: rgba(0, 128, 0, 0.354);
    .title {
      font-size: 1.4rem;
      letter-spacing: -0.5;
      font-weight: 800;
    }
    .line {
      margin: 20px auto 25px;
      border: 1px solid $bg-sub-grey;
    }
    .text {
      font-size: 1.1rem;
      letter-spacing: -0.5;
      font-weight: 300;
    }
    .banks {
      position: absolute;
      top: 115px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      text-align: left;
      font-size: 1.1rem;
    }
  }
}
