@import '/src/variables.scss';
.item {
  a {
    text-decoration: none;
    color: $text-primary-black;
  }
  .itemTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .contentCover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;

    .tag {
      padding-right: 0.5rem;
    }
    .price {
      font-size: 1.5rem;
      color: $point-orange;
    }
  }
  .imgCover {
    overflow: hidden;
    height: 150px;
    img {
      width: 100%;
    }
  }
}
