@import '@/_variables.scss';

.btn {
  position: relative;
  border: none;
  background-color: transparent;
  margin: 5px 0;
  cursor: pointer;
  &:disabled {
    opacity: 0.3;
    mix-blend-mode: hue;
    cursor: default;
  }
}
.container {
  width: 200px;
  height: 100px;
  background-color: $bg-sub-grey;
  border-radius: 18px;
  padding: 10px;
  margin-right: 6px;
  &:hover {
    box-shadow: 0 0 10px $bg-primary-grey;
    mix-blend-mode: multiply;
    transition-duration: 0.3s;
    background-color: $bg-sub-grey;
  }
  .bank {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-betweec;
    // background-color: red;
    .bankLogo {
      position: absolute;
      left: 10px;
      width: 70px;
      height: 70px;
      background-color: $bg-primary-white;
      mix-blend-mode: multiply;
      z-index: 1;
      border-radius: 50%;
    }
    .bankInfo {
      position: absolute;
      // top: 65px;
      right: 13px;
      width: 100%;
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      text-align: right;
      // background-color: yellow;
      .bankName {
        font-size: 1.1rem;
        font-weight: 800;
      }
    }
  }
}
.modalContainer {
  margin: auto;
  margin-top: 5%;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // background-color: $bg-sub-grey;
  .line {
    margin: 20px auto;
    width: 80%;
    border: 0.5px solid $bg-primary-grey;
    // mix-blend-mode: multiply;
  }
  .textContainer {
    height: 30%;
    width: 35%;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    // background-color: green;
    .bankLogo {
      margin: auto;
      width: 70px;
      height: 70px;
      background-color: $bg-primary-grey;
      border-radius: 50%;
    }
    .bankName {
      margin: auto;
      width: 50%;
      font-size: 1.6rem;
      letter-spacing: -0.5;
      font-weight: 800;
      // background-color: yellowgreen;
    }
  }
  .listsContainer {
    position: relative;
    height: 60%;
    width: 80%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // background-color: greenyellow;
    .list {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.3;
      .label {
        width: 100px;
        margin-bottom: 15px;
        // margin-right: 5px;
        margin-left: 15px;
        font-size: 1.1rem;
        letter-spacing: -0.5;
        font-weight: 800;
      }
      .inputForm {
        flex-grow: 1;
        .inputTag {
          -webkit-appearance: none;
          -moz-appearance: none;
          outline: none;
          appearance: none;
          width: 90%;
          height: 20px;
          padding: 15px 20px;
          border-radius: 5px;
          border: solid 1px $bg-primary-grey;
          font-size: 0.9rem;
          &:focus {
            border: solid 2px $point-red;
            caret-color: $point-red;
          }
        }
      }
    }
    .errorMsg {
      // position: absolute;
      width: 140px;
      top: 125px;
      left: 0;
      font-size: 0.8rem;
      font-weight: 500;
      color: $point-red;
    }
  }
  .btnContainer {
    height: 15%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    padding: 5px;
    // background-color: greenyellow;
    .btnTag {
      width: 30%;
      padding: 15px 32px;
      color: $text-light-white;
      text-align: center;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 800;
      background-color: $point-red;
      cursor: pointer;
      &:disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
    .cancel {
      background-color: $bg-sub-grey;
      mix-blend-mode: multiply;
      color: $text-sub-grey;
    }
  }
}
