@import '@/_variables.scss';

.agreement {
  margin: 0 3%;
  padding-bottom: 40px;
  .subContainer {
    margin-top: 50px;
    .title {
      font-size: 30px;
      font-weight: 700;
    }
    .content {
      color: $text-sub-grey;
      overflow: auto;
      height: 100px;
      margin-top: 15px;
      padding: 30px;
      border: 1px solid $bg-sub-grey;
    }
    .checkboxWrapper {
      margin-top: 15px;
      color: $text-sub-grey;
      .checkbox {
        margin: 2px 5px 0 0;
        cursor: pointer;
      }
    }
  }
  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      margin-top: 30px;
      text-align: center;
      background-color: $point-red;
      border: 1px solid $point-red;
      border-radius: 4px;
      min-width: 150px;
      font-size: 14px;
      height: 40px;
      color: $text-light-white;
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }
    .activeBtn {
      cursor: pointer;
      opacity: 1;
      pointer-events: all;
    }
  }
}
