// * 포인트 컬러
$point-red: #e60112;
$point-orange: #ff7c00;

// * 백그라운드 컬러
$bg-primary-grey: #8c8c8c;
$bg-sub-grey: #f5f4f4;
$bg-primary-white: #ffffff;

// * 텍스트 컬러
$text-light-white: #ffffff;
$text-sub-light-grey: #f5f4f4;
$text-sub-grey: #666666;
$text-primary-black: #3c3c3c;

// * 저번에 이야기 한대로 색상 더 추가하실꺼 있으면 줌영통 할 때 같이 정해요!

// * 사이즈 설정
$mypage-width: 1340px;
$mypage-height: 650px;

// * 모달 사이즈
// * 같은 사이즈로 안하셔도 되긴해서 이 부분은 줌으로 같이 이야기해보면 좋을것 같아요
$modal-width: 1140px;
$modal-height: 1140px;