// * 포인트 컬러
$point-red: #e60112;
$point-orange: #ff7c00;
$point-red-50: #e601107e;
$point-orange-50: #ff7b007e;

// * 백그라운드 컬러
$bg-primary-white: #ffffff;
$bg-primary-grey: #8c8c8c;
$bg-primary-grey-50: #8c8c8c7d;;
$bg-sub-grey: #f5f4f4;
$bg-light-grey: #ddd;

// * 텍스트 컬러
$text-light-white: #ffffff;
$text-light-white-50: #ffffff79;
$text-sub-light-grey: #f5f4f4;
$text-sub-grey: #666666;
$text-primary-black: #242424;
$text-primary-black-50: #3c3c3c7f;

// * 사이즈 설정
$mypage-width: 1100px;
$mypage-height: 80vh;


