.container {
  padding: 1rem 0;
  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  li {
    list-style: square;
    margin-left: 1rem;
    padding: 0.5rem;
  }
  p {
    padding: 0.5rem;
    margin-left: 1rem;
  }
}
