@import '@/_variables.scss';

.orderer {
  width: 100%;
  margin-top: 150px;
  .orderInfo {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .info {
    display: flex;
    border-bottom: 3px solid $bg-light-grey;
    border-top: 1px solid $bg-light-grey;
    padding: 24px 0;
    justify-content: flex-start;
    .titleContainer {
      .title {
        font-size: 14px;
        font-weight: 600;
      }
      .title:last-child {
        margin-top: 20px;
      }
    }

    .contentContainer {
      .content {
        font-size: 14px;
        margin-left: 20px;
      }
      .content:last-child {
        margin-top: 20px;
      }
    }
  }
  margin-bottom: 30px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
