@import '@/_variables.scss';

.container {
  margin: auto;
  width: $mypage-width;
  height: $mypage-height;
  display: flex;
  margin-bottom: 30px;
  background-color: $bg-sub-grey;
  .container__section {
    width: 62%;
    height: 95%;
    position: relative;
    margin: auto 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-primary-white;
    .section__inner {
      position: absolute;
      height: 70%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      font-size: 20px;
      font-weight: 300;
      text-align: left;
      .inner__context {
        width: 100%;
        margin: 3px;
        .inner__title {
          font-size: 1.8rem;
          letter-spacing: -0.5;
          font-weight: 800;
        }
        .inner__line {
          margin: 20px auto 25px;
        }
        .inner__label {
          font-size: 1.3rem;
          letter-spacing: -0.5;
          font-weight: 800;
        }
        .inner__text {
          margin: 15px auto;
          color: $text-sub-grey;
          font-size: 1.1rem;
        }
      }
      .inner__content {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .inner__input {
          -webkit-appearance: none;
          -moz-appearance: none;
          outline: none;
          appearance: none;
          width: 100%;
          height: 50px;
          padding: 15px 20px;
          border-radius: 5px;
          border: solid 1px $bg-primary-grey;
          font-size: 1rem;
          &:focus {
            border: solid 2px $point-red;
            caret-color: $point-red;
          }
        }
        .input__error {
          margin: 15px 0 40px;
          font-size: 1rem;
          font-weight: 500;
          color: $point-red;
        }
        .btnTag {
          width: 100%;
          display: inline-block;
          padding: 15px 32px;
          color: white;
          text-align: center;
          border: none;
          border-radius: 5px;
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: 800;
          background-color: $point-red;
          cursor: pointer;
        }
      }
    }
  }
}
